@media only screen and (min-width: 768px) {

    .grocerystore-grid {
        display: grid;
        align-items: start;
        grid-template-columns: 21% 10% 10% 10% 7% 6% 6% 8% 22%;
        grid-template-rows: 5% 10% auto 20%;

        padding-top: 5%;
        height: 100vh;
    }

    .grocerystore-grid input {
        width: 80%;
    }

    .grocerystore-add-item {
        color: green;
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;


    }

    .grocerystore-add-item:hover {
        font-weight: bold;
    }

    .grocerystore-product {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;


    }

    .grocerystore-product-input {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

    }


    .grocerystore-amount {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .grocerystore-amount-input {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;


    }


    .grocerystore-extra-info {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;



    }

    .grocerystore-extra-info-input {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;


    }

    .grocerystore-header {
        font-weight: bold;
    }

    .grocerystore-positioner {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 10;
        grid-template-columns: 21% 10% 10% 10% 7% 6% 6% 8% 22%;

    }

    .grocerystore-line-height {
        display: flex;
    }

    .grocerystore-product-data {
        grid-column-start: 2;
        grid-column-end: 3;
        color: blue;
        font-weight: bold;
    }

    .grocerystore-product-update {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grocerystore-amount-data {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        color: blue;
    }

    .grocerystore-amount-update {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


    .grocerystore-information-data {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        color: purple;
    }

    .grocerystore-information-update {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }



    .grocerystore-delete {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grocerystore-check {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grocerystore-update {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }


    .grocerystore-delete-all {
        color: red;
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .grocerystore-delete-all:hover {
        font-weight: bold;
    }

    .grocerystore-horizontal-line-updateclosed {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grocerystore-horizontal-line-updateopen {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}