.grocerystore-grid {
    display: grid;
    grid-template-columns: 10% auto auto 2% 2% 10%;
    grid-template-rows: 5% 5% auto 5%;

    padding-top: 5%;
    height: 100vh;
}

/* .grocerystore-flexer {
    display: flex;
    justify-content: space-between;
    width: 40%;

} */

.grocerystore-add-item {
    color: green;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grocerystore-product-input {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.grocerystore-header {
    font-weight: bold;
}